<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Twitter Search</title>
  <link rel="stylesheet" href="css/main.css"/>
</head>

<body>
  <div id="search">
    <header>
      <h1>Twitter Feed Search</h1>
      <section id="notificationPanel">
              ! <span id="notification"></span>
      </section>  
      <input id="searchInput" type="text" placeholder="Type some words here to being searching">
      <button id='submitButton' name="search">Search</button>
    </header> 
    <section id="help">
      <a class="toggleHelp" id="showHelp">Display Help</a>
      <a class="toggleHelp" id="hideHelp">Hide Help</a>
      <section id="helpReference">
         <table id="helpTable">
            <caption>Search Help - simple search examples</caption>
            <thead>
              <tr>
                <th>Example</th>
                <th>Explaination</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Banana boat</td>
                <td>Search for tweets containing both "Banana" and "boat".</td>
              </tr>
              <tr>
                <td>
                  <b>"</b>Banana boat<b>"</b>
                </td>
                <td>Search for tweets containing the exact phrase "Banana boat".</td></tr>
              <tr>
                <td>cats <b>OR</b> dogs</td>
                <td>Search for tweets containing either "cats" or "dogs" (or both).</td>
              </tr>
              <tr>
                <td><b>#</b>vancouver</td>
                <td>Search for tweets containing the hashtag "vancouver".</td>
              </tr>
              <tr>
                <td><b>from:</b>kuluabunny</td>
                <td>Search for tweets sent from user "kuluabunny".</td>
              </tr>
              <tr>
                <td><b>to:</b>kuluabunny</td>
                <td>Search for tweets sent to user "kuluabunny".</td>
              </tr>
              <tr>
                <td><b>@</b>kuluabunny</td>
                <td>Search for tweets referencing user "kuluabunny".</td>
              </tr>
            </tbody>
          </table>
          PS.  You can chain those together, i.e. Typing <b>@kittycommittee kitten</b> will search for tweets referencing <em>@kittycommittee</em> user that contains the word <em>"kitten"</em>.
      </section>
    </section>
    <section id="feed">
      <span id="currentSearchString">Currently Searching:</span><button id='refreshButton' name="refresh">Refresh</button>
      <button id='stopAutoRefresh' name="refresh">Stop Auto Refresh</button>
      <ul id="feedList"></ul>
    </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/backbone.js"></script>
  <script src="js/main.js"></script>

  <!-- Templates -->
  <script type="text/template" id="feed-template">
    <div>
      <img src="<%- profileImage %>">
      <span class="feedUsername"><%- fromUsername %></span>
      <br>
      <span class='feedText'><%- tweetText %></span>
      <br>
      <span class='feedTimestamp'>Posted: <%- createDate %></span>
  </div>
  </script>
  </body>
</html>