<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Twitter Search</title>
  <link rel="stylesheet" href="css/main.css"/>
</head>

<body>

  <div id="search">

    <header>
      <h1>Todos</h1>
      <input id="searchInput" type="text" placeholder="input keyword">
      <button id='submitButton' name="search">Search</button>
    </header>
    
    <section id="feed">
      <span id="currentSearchString">Currently Searching:</span><button id='refreshButton' name="refresh">Refresh</button>
      <ul id="feed-list"></ul>
    </section>

    <footer>
      <a id="clear-completed">Clear completed</a>
      <div id="todo-count"></div>
    </footer>

  </div>

  <div id="instructions">
    Double-click to edit a todo.
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/backbone.js"></script>
  <script src="js/main.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  </body>
</html>